@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');
body{
    background-color: #40A578;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 40px;
    background-color: #344C64;
}

nav ul li{
    padding: 10px;
}

.brand img{
    width: 37px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}
.container{
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: 73vh;
    background-color: black;
    color: white;
    display: flex;
    margin: 25px auto;
    width: 70%;
    border-radius:12px ;
    padding: 15px;
    background-image: url(bg.jpeg);
    flex-direction: column;
    
}

.bottom{
    position: sticky;
    height: 90px;
    background-color: #344C64;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#myProgressBar{
    width: 80%;
    cursor: pointer;
    z-index: 1;
    
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 40%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;

}

.songItemContainer{
    margin-top: 24px;
}

.songItem img{
    width: 40px;
    padding: 0 15px;
   
}

.timeStamp{
    padding: 0 15px;
}

.timeStamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    padding-top: 25px;
    left: 10vw;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vh;
    
}

.icons{
    padding-top: 13px;
    cursor: pointer;
}

.songInfo img{
    opacity: 0;
    transition: 0.3s ease-in;
}

.coverDetail{
    position: absolute;
    right: 10vw;
    padding-top: 32px;

}

#gif{
    width: 15vw;
    height: 5vh;
    padding-left: 30px;
}

.songItemPlay{
    padding:0px 20px;
}
